<ion-header>

    <ion-navbar>
        <ion-title>User details</ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-header>
            {{ user.name }}
        </ion-card-header>
        <ion-card-content>
            <ion-card-title *ngIf="user.email">
                <ion-label>email:</ion-label>
                {{ user.email }}
            </ion-card-title>
            <ion-card-title>
                <ion-label>Login:
                           {{user.login}}
                </ion-label>
            </ion-card-title>
            <ion-list>
                <ng-container *ngIf="user.composedRecipes?.length>0">
                    <ion-list-header>
                        Composed recipes:
                    </ion-list-header>
                    <button *ngFor="let recipe of user.composedRecipes" ion-item
                            navPush="RecipeDetailsPage" [navParams]="recipe">
                        {{ recipe.name }}
                    </button>
                </ng-container>

                <ng-container *ngIf="user.completedRecipes?.length>0">
                    <ion-list-header>
                        Completed recipes:
                    </ion-list-header>
                    <button *ngFor="let recipe of user.completedRecipes" ion-item
                            navPush="RecipeDetailsPage" [navParams]="recipe">
                        {{ recipe.name }}
                    </button>
                </ng-container>
            </ion-list>

        </ion-card-content>
    </ion-card>
</ion-content>
