// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content {
  text-align: center;

}

.login-box {
  padding-top: 5em;
}

.menu-title {
  text-align: right;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmc
vMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PS
IwcHgiIHk9IjBweCIKCSB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgN
jQgNjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDY0IDY0IiB4bWw6c3BhY2U9InByZXNl
cnZlIj4KPGc+Cgk8cGF0aCBmaWxsPSIjRkZDRTMxIiBkPSJNMi4wNTEsMzEuMzgyYzAsMCwwLjA
1OS0zLjIyNiwwLTQuNTU5Yy0wLjA1Ny0xLjMzNSwwLjY4NS0wLjg5MSwxLjU5Ny0xLjYxMgoJCW
MwLjkxNC0wLjcyNCwxLjk0MS0yLjE2OCwyLjQ1NC0xLjYxM2MwLjUxMywwLjU1NywxLjc2NywxL
jMzNSwyLjQ1Mi0xYzAuNjg1LTIuMzM3LDEuMjU0LTEuNTU5LDEuNzY5LTIuMDAyCgkJYzAuNTEz
LTAuNDQ0LDEuODI0LDAuNDQzLDIuMzk1LTAuNTU3czAuMTEzLTEuMzM0LDEuNTQtMi4yMjRjMS4
0MjctMC44OSwyLjM5NS0yLjAwMywzLjU5My0yLjAwM2MxLjE5NywwLDMuNzA4LTEsNC4yNzctMi
43NzkKCQljMC41NzEtMS43NzksMS40MjYtMS42NjgsMi4xMTEtMi4wNThjMC42ODUtMC4zODksM
S4xOTctMS4yNzgsMy4zMDctMS4yNzhjMi4xMTEsMCwxNS42ODYtMS45NDYsMzEuMzExLDYuMzk1
CgkJYzAsMCwxLjk0MSwxLDIuNDU0LDEuMzg5YzAuNTEzLDAuMzkxLDAuNjI2LDAuMTY4LDAuNjg
zLDQuMzM5YzAuMDU3LDQuMTctMC4yODMsMTguMTctMC4yODMsMjEuNjg1CgkJYzAsMi4zODEtMC
4zOTksMi4wNTctMS4zNjksMi4yMjVjMCwwLTE0LjAzLDIuMTEyLTE2LjA4MiwyLjQ0NmMtMi4wN
TUsMC4zMzItMi4zMzksMC4yMjMtMi45NjctMC4yNzkKCQljLTAuNjI5LTAuNDk5LTIuNTExLTAu
NTA3LTMuNDIyLDAuNDdjLTAuOTE0LDAuOTc3LTAuMzQ0LDAuOTc3LTEuOTk2LDEuMTQ0Yy0xLjY
1NCwwLjE2Ny05Ljk4MSwxLjQ0Ni0xMS43NDgsMS43MjQKCQljLTEuNzcsMC4yNzgtMi40NTQtMS
4yMjQtNC40NDktMS4xNjdjLTEuOTk3LDAuMDU2LTMuMDgxLDIuMTY4LTMuODIyLDIuMzM1Yy0wL
jc0MSwwLjE2Ny0xMS4yMzUsMS42NjgtMTIuMDksMS43NzgKCQljLTAuODU1LDAuMTEyLTEuNzE0
LDAuNzc5LTEuNzE0LTAuMjIyYzAtMS4wMDItMC4yMjUtMy4yMjUsMC4yODgtMy40NDdjMC41MTU
tMC4yMjIsMC45Ny0wLjgzNCwwLjk3LTEuNjY4CgkJYzAtMS41NTctMS4wMjctMS40NDUtMS4wMj
ctNC42MTVjMC0zLjE2OS0wLjExNC02LjM5NSwwLjE3LTYuNzI4YzAsMCwxLjI5OC0wLjc1NiwxL
jI5OC0yLjY3MgoJCUMzLjc0OSwzMi40OTQsMi4wNTEsMzIuNzcyLDIuMDUxLDMxLjM4MnoiLz4K
CTxwYXRoIGZpbGw9IiNGRkVDNDAiIGQ9Ik0yLjA2OSwyNy40NzVjLTAuMjcxLTIuMDY5LDAuNjE
4LTEuNTQyLDEuNTMtMi4yNjRjMC45MTQtMC43MjQsMS45NDEtMi4xNjgsMi40NTQtMS42MTMKCQ
ljMC41MTMsMC41NTcsMS43NjcsMS4zMzUsMi40NTEtMWMwLjY4Ni0yLjMzNywxLjI1NS0xLjU1O
SwxLjc3LTIuMDAyYzAuNTEzLTAuNDQ0LDEuODIzLDAuNDQzLDIuMzk1LTAuNTU3czAuMTEzLTEu
MzM0LDEuNTQtMi4yMjQKCQlzMi4zOTUtMi4wMDMsMy41OTMtMi4wMDNjMS4xOTcsMCwzLjcwOC0
xLDQuMjc3LTIuNzc5YzAuNTcxLTEuNzc5LDEuNDI2LTEuNjY4LDIuMTExLTIuMDU4YzAuNjg1LT
AuMzg5LDEuMTk3LTEuMjc4LDMuMzA3LTEuMjc4CgkJYzIuMTExLDAsMTUuNjg1LTEuOTQ2LDMxL
jMxMSw2LjM5NWMwLDAsMS45NDEsMSwyLjQ1NCwxLjM4OWMwLjA2MSwwLjA0NiwwLjg4MywxLjA0
Ni0wLjUyNSwxLjM0NwoJCWMtMy43NjQsMC44MDQtMTIuMjg0LDIuMjgzLTIxLjY5NiwzLjc5OWM
tMC4zMzksMC4wNTUtMS4zOS0xLjA0MS0xLjczLTAuOTg2Yy0wLjQ1LDAuMDcyLTAuMTkxLDEuMj
k1LTAuNjQ0LDEuMzY3CgkJQzIwLjI1OCwyNS42MjEsMi4xNjMsMjguMTkxLDIuMDY5LDI3LjQ3N
XoiLz4KCTxwYXRoIGZpbGw9IiNENjhGMDAiIGQ9Ik0zLjU1OCwyNy41MjhjMC44NzUtMC4xNDIs
Ni40OTEtMC45NTIsNi45MjEtMS4wMTNjMC45ODEtMC4xNDEsMC41NDktMC43MzIsMS4zODYtMS4
xODEKCQljMC44MzctMC40NSwyLjM2NCwwLjUwNSwyLjk3LDAuNDQ4QzE1LjQ0MiwyNS43MjksMz
AuNDEyLDIzLjQ3OSwzMiwyMy4yOGMxLjU4Ni0wLjE5NSwyLjUzNy0wLjM2NCwyLjIyMS0wLjc1O
AoJCXMtMS4wMzgtMS41NzUsMS42MTUtMS41NzVzMi42MjYsMC43NTksMi44MjcsMS4wNDFjMC4y
MDIsMC4yOCwwLjM3NiwwLjI1MiwxLjEyNCwwLjE0MWMwLjc1MS0wLjExMyw1LjAyLTAuNjE5LDU
uMDQ5LTAuODczCgkJYzAuMDI5LTAuMjUzLDAuMzc1LTAuNzU5LDEuNzAzLTAuNTljMS4zMjUsMC
4xNjgsMC45NzksMC40NzgsMC42MDUsMS4wMTNjLTAuMzc1LDAuNTM0LTAuNjA1LDAuOTM0LTAuM
jAzLDEuNDkzCgkJYzAuNDA0LDAuNTU5LTEuODQ2LTAuMjU3LTIuMDQ3LTEuMDQzYy0wLjIwMS0w
Ljc4Ny00LjgxOCwwLjYxOC01Ljc5OSwwLjY0NmMtMC45OCwwLjAyNy0xLjE1NC0wLjM2Ni0xLjU
yOS0wLjczMQoJCXMtMC42NjMsMS4xNTIsMC4zMTgsMS41NDZjMC45OCwwLjM5NC0wLjg2NSwxLj
M3OS0xLjc4OSwxLjEyNmMtMC45MjItMC4yNTMtMC45MjItMS40MDYtMS45MDQtMS4yMzcKCQljL
TAuOTgsMC4xNjgtMTguMDY4LDMuMTM2LTE4LjkwMywzLjExOWMtMC44MzctMC4wMTgtMS43Nzgt
MC4yMDgtMi4zNTQsMC4zNTRjLTAuNTc5LDAuNTYzLTMuNDY5LDAuNDc2LTUuMjI5LDAuNjQ1Cgk
JQzUuOTQ1LDI3Ljc2NSwwLjcyOCwyNy45ODQsMy41NTgsMjcuNTI4eiIvPgoJPHBhdGggZmlsbD
0iI0Q2OEYwMCIgZD0iTTYxLjMxLDE3LjQ4Yy0wLjUxMy0wLjM4OS0yLjQ1NC0xLjM4OS0yLjQ1N
C0xLjM4OWMtNi42MjktMy41MzktMTIuODg5LTUuMjIzLTE4LjA2MS01Ljk5MgoJCWMwLjUzNCww
LjE0NiwxMS4zOTMsMy4xNDEsMTUuNzM2LDUuNzE4YzIuOTY5LDEuNzYxLDMuMTI1LDIuMDA5LDI
uNzQsMi41NThjLTAuMzg1LDAuNTUtMS4zMjksMC40NzktOC42NTYsMi4wMzgKCQljLTEuMzY1LD
AuMjktMi4zODMsMC4zNzQtMi4zNDYsMC43MTJjMC4wMzgsMC4zMzgsMi4xMTYtMC4xODYsNC4yN
y0wLjM1NXM4LjQyMy0xLjQ4MSw4Ljg4NS0wLjkyCgkJYzAuMjMyLDAuMjg0LDAuNTQzLDIuNTQ3
LDAuNTcyLDQuMDg0YzAuMDA2LTAuODQ0LDAuMDA0LTEuNTY2LTAuMDA0LTIuMTE0QzYxLjkzNiw
xNy42NDgsNjEuODIyLDE3Ljg3MSw2MS4zMSwxNy40OHoiLz4KCTxnPgoJCTxwb2x5Z29uIGZpbG
w9IiNGMkIyMDAiIHBvaW50cz0iMjUuMjI3LDUxLjA2MSAyNS4yMjcsNTEuMDYxIDI1LjIyNyw1M
S4wNjEgCQkiLz4KCQk8cGF0aCBmaWxsPSIjRDY4RjAwIiBkPSJNMTkuNjc2LDUwLjA2NWMxLjk5
NS0wLjA1NywyLjY4LDEuNDQ1LDQuNDQ5LDEuMTY3YzAuMDE0LTAuMDAzLDAuMDQtMC4wMDYsMC4
wNTctMC4wMDkKCQkJYy0wLjM1Mi0wLjEzMi0wLjgxMi0wLjQwNC0xLjQxMi0wLjkyM2MtMi4wMD
ItMS43MjUtNC4yMzEtMS43MjUtNS0wLjMwMkMxNyw1MS40MjMsMTYuNjM3LDUxLjgyNCwxNS44N
TQsNTIuNAoJCQlDMTYuNTk1LDUyLjIzMywxNy42NzksNTAuMTIxLDE5LjY3Niw1MC4wNjV6Ii8+
Cgk8L2c+Cgk8Zz4KCQk8cGF0aCBmaWxsPSIjRDY4RjAwIiBkPSJNMzkuNjUyLDQ2LjU1MWMtMi4
zMzIsMC40NDYtMi42MzIsMi43MzItMi42MzUsMi43NjZjMC4yODUtMC4xMjksMC4zLTAuMzYxLD
AuODUyLTAuOTUxCgkJCWMwLjkxMS0wLjk3NywyLjc5My0wLjk2OSwzLjQyMi0wLjQ3YzAuMzE0L
DAuMjUxLDAuNTQyLDAuNDAzLDAuOTUsMC40NTJDNDEuMTQzLDQ4LjEyOCw0MS43ODksNDYuMTQx
LDM5LjY1Miw0Ni41NTF6Ii8+CgkJPHBhdGggZmlsbD0iI0YyQjIwMCIgZD0iTTQyLjY1OCw0OC4
zNjFjMC4wOS0wLjAwMywwLjE4OC0wLjAwNywwLjI5MS0wLjAxN0M0Mi44NTgsNDguMzQ1LDQyLj
c2LDQ4LjM1MSw0Mi42NTgsNDguMzYxeiIvPgoJCTxwYXRoIGZpbGw9IiNGMkIyMDAiIGQ9Ik00M
i41NzIsNDguMzY0YzAuMDEsMCwwLjAxOSwwLDAuMDI3LDBDNDIuNTg5LDQ4LjM2NSw0Mi41ODIs
NDguMzY0LDQyLjU3Miw0OC4zNjR6Ii8+Cgk8L2c+Cgk8cGF0aCBmaWxsPSIjRDY4RjAwIiBkPSJ
NMy45MjIsNDkuMzE2YzAuMDc3LTIuMDM1LTEuNTM2LTMuNTYtMS41MzYtMy41NmMwLjI2MiwxLj
Y1NiwwLjkyMSwxLjgzNiwwLjkyMSwzLjA4NQoJCWMwLDAuODM0LTAuNDU2LDEuNDQ2LTAuOTcsM
S42NjhjLTAuMDg2LDAuMDM3LTAuMTQ1LDAuMTQ2LTAuMTk0LDAuMjhDMi41NzUsNTAuNTMsMy44
NTgsNTEuMDA4LDMuOTIyLDQ5LjMxNnoiLz4KCTxwYXRoIGZpbGw9IiNENjhGMDAiIGQ9Ik0zLjk
yNiwzMi41OTRjLTAuODM5LTAuMDc0LTEuMzAyLTAuMjI0LTEuNTY5LTAuMzY3YzAuNDg5LDAuNT
g2LDEuMzkyLDAuODk2LDEuMzkyLDIuNjAxCgkJYzAsMS45MTYtMS4yOTgsMi42NzItMS4yOTgsM
i42NzJjLTAuMDQ3LDAuMDU3LTAuMDg0LDAuMi0wLjExMSwwLjQxYzAuMzY4LTAuNzg4LDEuMjA1
LTAuNzk0LDIuMTIyLTEuNjMzCgkJQzUuNjkzLDM1LjE1LDUuNzY4LDMyLjc1MSwzLjkyNiwzMi4
1OTR6Ii8+Cgk8cGF0aCBmaWxsPSIjRDY4RjAwIiBkPSJNMjIuODAxLDExLjc3OWMtMC4yNDYsMC
4yNjItMC40NzcsMC42NDEtMC42NzQsMS4yNTRjLTAuNTY5LDEuNzc5LTMuMDgsMi43NzktNC4yN
zcsMi43NzkKCQljLTAuMTk0LDAtMC4zODMsMC4wMzgtMC41NjgsMC4wOTJjMS4xOTQsMC4zMzIs
Mi41NDEsMC45NTUsNS4xNjQtMS42MDRDMjMuNzExLDEzLjA2NiwyMS42ODYsMTMuMjQ2LDIyLjg
wMSwxMS43Nzl6Ii8+Cgk8Zz4KCQk8cGF0aCBmaWxsPSIjRkZFQzQwIiBkPSJNOS4wMzUsNDUuOT
k5YzAuMDc1LDAuMjMxLDAuMTYzLDAuNDc3LDAuMjcsMC43MzljMC45MjQsMi4yNDksNS44ODUsM
y4yNjIsNi4xMTYsMAoJCQljMC4wMjktMC4zOTUsMC4wMDctMC43NTYtMC4wNDgtMS4wOUMxMy43
OTUsNDcuNDA0LDEwLjcxOCw0Ny40NzIsOS4wMzUsNDUuOTk5eiIvPgoJCTxwYXRoIGZpbGw9IiN
ENjhGMDAiIGQ9Ik0xNS4zNzIsNDUuNjQ4Yy0wLjQxNC0yLjQzLTIuODczLTMuMjgzLTQuNTY2LT
IuODQ5Yy0xLjkzOCwwLjQ5Ny0yLjM0LDEuNDM3LTEuNzcxLDMuMTk5CgkJCUMxMC43MTgsNDcuN
DcyLDEzLjc5NSw0Ny40MDQsMTUuMzcyLDQ1LjY0OHoiLz4KCTwvZz4KCTxnPgoJCTxwYXRoIGZp
bGw9IiNGRkVDNDAiIGQ9Ik0yMi44NDksMzAuNzI2YzAuMDcsMC4yOTcsMC4xMDksMC42LDAuMTA
5LDAuOTE3YzAsMi40ODEtMi4yNzEsNC40OS01LjA3Nyw0LjQ5CgkJCWMtMi4xMzUsMC0zLjk1NS
0xLjE3LTQuNzA0LTIuODIzYy0wLjI4NiwwLjgwOC0wLjQyNSwxLjc0NC0wLjM1LDIuODIzYzAuM
zgzLDUuNDA0LDguNjAyLDMuNzI5LDEwLjEzLDAKCQkJQzI0LjAzNSwzMy41MTEsMjQuMTMzLDMx
LjgyNywyMi44NDksMzAuNzI2eiIvPgoJCTxwYXRoIGZpbGw9IiNENjhGMDAiIGQ9Ik0xNy44ODE
sMzYuMTMzYzIuODA2LDAsNS4wNzctMi4wMDksNS4wNzctNC40OWMwLTAuMzE3LTAuMDM5LTAuNj
ItMC4xMDktMC45MTcKCQkJYy0wLjU0LTAuNDY3LTEuMjk4LTAuODM3LTIuMzc0LTEuMTEzYy0yL
jU1NC0wLjY1NS02LjE1NSwwLjQ2MS03LjI5NywzLjY5N0MxMy45MjYsMzQuOTYzLDE1Ljc0Niwz
Ni4xMzMsMTcuODgxLDM2LjEzM3oiLz4KCTwvZz4KCTxnPgoJCTxwYXRoIGZpbGw9IiNGRkVDNDA
iIGQ9Ik0yOC42OTQsNDUuNzI0Yy0xLjU5MSwwLTIuOTk0LTAuNzg4LTMuOTMzLTIuMDAxYy0wLj
Y0MywxLjkyMS0wLjMwNSw0LjI3LDMuMzc3LDQuNjE1CgkJCWM0LjQ0NCwwLjQyMSw2LjM0NS00L
jI0Nyw1LjQ1Ny02LjU4QzMyLjk4Niw0NC4wNCwzMS4wMzMsNDUuNzI0LDI4LjY5NCw0NS43MjR6
Ii8+CgkJPHBhdGggZmlsbD0iI0Q2OEYwMCIgZD0iTTI4LjY5NCw0NS43MjRjMi4zMzksMCw0LjI
5Mi0xLjY4NCw0LjkwMS0zLjk2NmMtMC4wNjMtMC4xNjgtMC4xMzktMC4zMjUtMC4yMzQtMC40Nj
cKCQkJYy0xLjM4My0yLjA5OC01LjgxNC0yLjAwNC03LjgzOCwwLjljLTAuMzAxLDAuNDMtMC41N
zIsMC45NjItMC43NjIsMS41MzFDMjUuNyw0NC45MzYsMjcuMTA0LDQ1LjcyNCwyOC42OTQsNDUu
NzI0eiIvPgoJPC9nPgoJPGc+CgkJPHBhdGggZmlsbD0iI0ZGRUM0MCIgZD0iTTU4Ljk0MSwzOS4
wMjRjLTAuMDg2LDEuNzE3LTEuNzMzLDMuMDkzLTMuNzY1LDMuMDkzYy0xLjY5NywwLTMuMTE4LT
AuOTY2LTMuNTk1LTIuMjgxCgkJCWMtMC4xNDYsMC41MzgtMC4yMDYsMS4xMDgtMC4xNzgsMS42O
DdjMC4xMTcsMi4zNTIsMy43NDcsMy45NDcsNi43OSwxLjQzNkM1OS42OSw0MS43MjQsNTkuNjU0
LDQwLjIyOCw1OC45NDEsMzkuMDI0eiIvPgoJCTxwYXRoIGZpbGw9IiNENjhGMDAiIGQ9Ik01NS4
xNzcsNDIuMTE3YzIuMDMxLDAsMy42NzktMS4zNzYsMy43NjUtMy4wOTNjLTAuNzM2LTEuMjM3LT
IuMTkzLTIuMTY4LTMuNDQxLTIuMTY4CgkJCWMtMi4xNzYsMC0zLjQ2NywxLjMyMS0zLjkxOCwyL
jk3OUM1Mi4wNTksNDEuMTUxLDUzLjQ3OSw0Mi4xMTcsNTUuMTc3LDQyLjExN3oiLz4KCTwvZz4K
CTxnPgoJCTxwYXRoIGZpbGw9IiNGRkVDNDAiIGQ9Ik00OC40MjQsMzIuNjQ4YzAuMDA4LDAuMDg
0LDAuMDI5LDAuMTY0LDAuMDI5LDAuMjUyYzAsMi44MjktMi42MjYsNS4xMjMtNS44NjUsNS4xMj
MKCQkJYy0yLjMyNCwwLTQuMzE2LTEuMTkxLTUuMjY1LTIuOTA1YzAuMjMzLDAuOTg3LDAuNzI5L
DIuMDYzLDEuNDg4LDMuMjcyYzEuNzU4LDIuNzkzLDUuMjY1LDIuNjY3LDcuMjA3LDAuNzczCgkJ
CUM0OC4wNDksMzcuMTg4LDQ5LjM0NiwzNC44MDcsNDguNDI0LDMyLjY0OHoiLz4KCQk8cGF0aCB
maWxsPSIjRDY4RjAwIiBkPSJNNDIuNTg4LDM4LjAyM2MzLjIzOSwwLDUuODY1LTIuMjk0LDUuOD
Y1LTUuMTIzYzAtMC4wODgtMC4wMjEtMC4xNjgtMC4wMjktMC4yNTIKCQkJYy0wLjI0Mi0wLjU2O
S0wLjYyNi0xLjExOS0xLjIwMy0xLjY0NGMtMi43NzEtMi41MjEtOC4wMzctMS4yNjEtOS4zMjIs
MC42MTZjLTAuNzI3LDEuMDY0LTAuODgzLDIuMjA1LTAuNTc1LDMuNDk3CgkJCUMzOC4yNzEsMzY
uODMyLDQwLjI2NCwzOC4wMjMsNDIuNTg4LDM4LjAyM3oiLz4KCTwvZz4KCTxnPgoJCTxwYXRoIG
ZpbGw9IiNGRkVDNDAiIGQ9Ik01Ny45OTUsMjUuMjYxYzAuMDA1LDAuMDU4LDAuMDIsMC4xMTIsM
C4wMiwwLjE3MmMwLDEuOTI1LTEuNzg2LDMuNDg1LTMuOTksMy40ODUKCQkJYy0xLjU4MSwwLTIu
OTM3LTAuODExLTMuNTgxLTEuOTc3YzAuMTU4LDAuNjcyLDAuNDk2LDEuNDAzLDEuMDEyLDIuMjI
3YzEuMTk2LDEuODk5LDMuNTgyLDEuODE0LDQuOTAzLDAuNTI1CgkJCUM1Ny43MzksMjguMzUsNT
guNjIyLDI2LjcyOSw1Ny45OTUsMjUuMjYxeiIvPgoJCTxwYXRoIGZpbGw9IiNENjhGMDAiIGQ9I
k01NC4wMjQsMjguOTE4YzIuMjA0LDAsMy45OS0xLjU2MSwzLjk5LTMuNDg1YzAtMC4wNi0wLjAx
NS0wLjExNC0wLjAyLTAuMTcyCgkJCWMtMC4xNjUtMC4zODctMC40MjctMC43NjEtMC44MTgtMS4
xMTdjLTEuODg2LTEuNzE2LTUuNDY4LTAuODU4LTYuMzQyLDAuNDE5Yy0wLjQ5NSwwLjcyNS0wLj
YwMiwxLjUtMC4zOTIsMi4zNzkKCQkJQzUxLjA4OCwyOC4xMDcsNTIuNDQzLDI4LjkxOCw1NC4wM
jQsMjguOTE4eiIvPgoJPC9nPgoJPGc+CgkJPHBhdGggZmlsbD0iI0ZGQzU0MyIgZD0iTTIzLjA4
LDE4LjUwNWMxLjE4OCwwLDIuMjcxLDAuMjI2LDMuMTUsMC41OTNjLTAuMjY4LTAuNTktMC45NTM
tMS4xNDQtMi4yMTgtMS42NTgKCQkJYy0yLjMzNS0wLjk0OS02LjIxMS0wLjIzMS01Ljk3MywzLj
AyOWMwLjAwMiwwLjA1NiwwLjAyLDAuMTA0LDAuMDI1LDAuMTU3QzE4LjYzNywxOS40MDgsMjAuN
jU2LDE4LjUwNSwyMy4wOCwxOC41MDV6Ii8+CgkJPHBhdGggZmlsbD0iI0Q2OEYwMCIgZD0iTTI1
LjMyNiwyMS41MTdjMC44ODgtMC44NjYsMS4yNDMtMS42NzEsMC45MDQtMi40MTljLTAuODc5LTA
uMzY3LTEuOTYzLTAuNTkzLTMuMTUtMC41OTMKCQkJYy0yLjQyNCwwLTQuNDQzLDAuOTAzLTUuMD
E1LDIuMTIxQzE4LjQ0NywyMy43MjcsMjIuOTMyLDIzLjg1MywyNS4zMjYsMjEuNTE3eiIvPgoJP
C9nPgoJPGc+CgkJPHBhdGggZmlsbD0iI0ZGQzU0MyIgZD0iTTM0LjMxNSwxMy4xMzFjMC44NjMs
MCwxLjY3MywwLjIwNCwyLjM0MywwLjU1MmMtMC4yMTEtMC40NTEtMC42My0wLjkxOS0xLjMyMi0
xLjQ3MwoJCQljLTIuNDItMS45MzItNS40NzktMC4xMi01LjI4OSwzLjA3MWMwLjAxNCwwLjE4NC
wwLjA2MywwLjMxOCwwLjA5NSwwLjQ3NkMzMC41NTUsMTQuMjU2LDMyLjI2NSwxMy4xMzEsMzQuM
zE1LDEzLjEzMXoiLz4KCQk8cGF0aCBmaWxsPSIjRDY4RjAwIiBkPSJNMzUuMzM2LDE2LjYzYzEu
MjYtMS4yMjYsMS43NDYtMi4wNDksMS4zMjItMi45NDdjLTAuNjctMC4zNDgtMS40NzktMC41NTI
tMi4zNDMtMC41NTIKCQkJYy0yLjA1MSwwLTMuNzYxLDEuMTI1LTQuMTc0LDIuNjI2QzMwLjYyNy
wxOC40MzcsMzMuNTU1LDE4LjM2OSwzNS4zMzYsMTYuNjN6Ii8+Cgk8L2c+Cgk8Zz4KCQk8cGF0a
CBmaWxsPSIjRkZDNTQzIiBkPSJNNDcuNzQyLDE1LjU3NGMwLjU3OCwwLDEuMTI3LDAuMDk0LDEu
NjQzLDAuMjM5Yy0wLjA3Ni0wLjI2MS0wLjIxOS0wLjUzLTAuNTIxLTAuODAzCgkJCWMtMi4wOTI
tMS45MjEtNi45NjItMC42OTQtNi45NjIsMi40MjNjMCwwLjc0OSwwLjM3OCwxLjMsMC45NjQsMS
42MzdDNDMuMTI0LDE3LjEwOSw0NS4xOTUsMTUuNTc0LDQ3Ljc0MiwxNS41NzR6Ii8+CgkJPHBhd
GggZmlsbD0iI0Q2OEYwMCIgZD0iTTQ3LjgyOCwxOC4yOThjMC42OTUtMC41NDIsMS44NTktMS40
NSwxLjU1Ny0yLjQ4NGMtMC41MTYtMC4xNDYtMS4wNjQtMC4yMzktMS42NDMtMC4yMzkKCQkJYy0
yLjU0NywwLTQuNjE4LDEuNTM1LTQuODc3LDMuNDk2QzQ0LjA4NCwxOS43NzQsNDYuMjE3LDE5Lj
U2Myw0Ny44MjgsMTguMjk4eiIvPgoJPC9nPgo8L2c+Cjwvc3ZnPg==");
  background-size: 100%;
  height: 20vmax;
  div {
    color: white;
    background: rgba(0, 0, 0, .25);
    padding: .5em;
    height: 100%;
    width: 100%;
  }
}

.image-wrap {
  display:inline-block;
  position:relative;
  max-width: 49vw;
  padding: .5vw;
  .top, .right, .left, .bottom {
    position: absolute;
  }
  $wrap-btn-offset: .5rem;
  .top {
    top: $wrap-btn-offset;
  }
  .right {
    right: $wrap-btn-offset;
  }
  .bottom {
    bottom: $wrap-btn-offset;
  }
  .left {
    left: $wrap-btn-offset;
  }
}
