<ion-header>
    <ion-navbar>
        <ion-title>Recipe {{details?.name}}</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-card>
        <p [innerHtml]="details?.description"></p>
    </ion-card>

    <ion-card *ngFor="let step of details?.steps">
        <ion-slides pager="true" loop="true" zoom="true">
            <ion-slide *ngFor="let m of step.media"><img [src]="m.content"/></ion-slide>
        </ion-slides>
        <ion-card-content>
            <ion-card-title>{{step.name}}</ion-card-title>
            <p>{{step.description}}</p>
        </ion-card-content>
    </ion-card>
    <ion-fab right bottom>
        <button color="edit" ion-fab navPush="RecipeEditPage" [navParams]="details">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
